.posts {
    padding-bottom: 5rem;
}

.posts > .container > .row > .col {
    margin-bottom: 4em;
}

.posts > .container > .row > .col > p {
    max-width: 65%;
    margin: 0 auto;
}

.posts p {
    margin: 0;
}

.posts a {
    text-decoration: none;
}

.posts .photo > img {
    width: 100%;
}

.photo {
    overflow: hidden;
}

.post-info {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--light-secondary);
}

.post-info .lnr {
    line-height: 1.5rem;
}

.meta {
    padding-left: 1.3rem;
}

.meta, .person {
    margin-top: 1rem;
}

.meta * {
    margin-left: 0.5rem;
}

.post-info a {
    color: var(--dark-color);
    margin-left: 1rem;
    font-weight: 300;
}

.post {
    margin-top: 2rem;
}

.post h4 {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.posts .col-4:hover img {
    transform: scale(1.05);
    transition: all .4s ease 0s;
    cursor: pointer;
}

.posts .col-4:hover h4 {
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .posts .col-4 {
        max-width: 100%;
    }

    .meta {
        padding-left: 0;
    }
}

@media (max-width: 576px) {
    .posts .col-4 {
        max-width: 100%;
        margin-bottom: 5rem;
        padding: 0 1rem;
    }
}