.brands {
    padding-bottom: 5rem;
}

.brands .row {
    padding: 1rem;
    max-width: 100%;
    /* height: 8rem; */
    /* overflow: hidden; */
    /* border: 1px solid red; */
}

.brands .row .col {
    max-width: 20%;
}

.brands .row > .col img {
    opacity: 0.5;
}

.brands .row > .col img:hover {
    opacity: 1;
}

@media (max-width: 992px) {
    .brands .row .col {
        max-width: 25%;
    }

    .brands .row .col:nth-child(n+5) {
        display: none;
    }
}

@media (max-width: 768px) {
    .brands .row .col {
        max-width: 33%;
    }

    .brands .row .col:nth-child(n+4) {
        display: none;
    }
}

@media (max-width: 576px) {
    .brands .row .col {
        max-width: 50%;
    }

    .brands .row .col:nth-child(n+3) {
        display: none;
    }
}