.btn {
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
    line-height: 1.3rem;
    text-decoration: none;
    padding: 0.7rem 2rem;
    font-weight: 500;
    display: inline-block;
}

.btn:hover {
    box-shadow: 0 20px 20px 0 rgba(132, 144, 255, .3);
}