.feedback {
    padding-bottom: 5rem;
}

.feedback > .container > .row:nth-child(2) {
    position: relative;
}

.feedback-btn {
    position: absolute;
    bottom: 40%;
    left: 100%;
    box-shadow: -14px 7px 20px 0 rgba(157,157,157,.2);
}

.feedback-btn .lnr:hover {
    transition: all .4s ease 0s;
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}

.feedback .lnr {
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 0.8rem;
    margin: 0.2rem;
    background-color: var(--white-color);
}


.feedback .col {
    margin-bottom: 4rem;
}

.feedback .flex {
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-bottom: 2rem;
}

.feedback .col-6 {
    align-items: flex-start;
    background-color: var(--white-color);
    padding: 1rem 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.feedback .col-6:hover {
    cursor: pointer;
}

.feedback .col-6:hover h4 {
    color: var(--primary-color);
    transition: all .4s ease 0s;
}

.feedback img {
    width: 50px;
    border-radius: 100%;
    margin-right: 20px;
}

.feedback h4 {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 600;
    margin-bottom: 0;
}

@media (max-width: 992px) {
    /* .feedback .col-6 {
        max-width: 100%;
    } */
    /* .feedback .flex {
        flex-wrap: wrap;
    } */
    .feedback-btn {
        bottom: -10%;
        left: 50%;
        transform: translatex(-25%);
    }
    .btn-left {
        display: inline-block;
    }
    .btn-right {
        display: inline-block;
    }
    .feedback .lnr {
        margin: 0.1px;
    }
}