/* START of Utility */
.bg-color-light {
    background-color: var(--light-color);
}

.bg-gradient-blue {
    background: var(--gradient);
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.row-center {
    flex-direction: row;
    align-items: center;
}

.mt-h {
    margin-top: var(--header-height);
}

.container {
    margin: 0 auto; /* */
}

.col-6 {
    max-width: 50%;
    padding: 0 1rem;
}

.col-4 {
    max-width: 33%;
    padding: 0 1rem;
}

.col-3 {
    width: 25%;
    padding: 0 1rem;
}

.visible {
    display: block !important;
}

.hidden {
    display: none !important;
}
/* END of Utility */


/* START of elements */
::selection {
    background-color: var(--primary-color);
    color: var(--white-color);
}

html {
    font-size: 15px;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--white-color);
    color: var(--text-color);
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--dark-color);
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 4rem;
    line-height: 4.2rem;
    font-weight: 600;
}

h2 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

h6 {
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 2px;
}

p {
    color: var(--text-color);
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding-top: 5rem;
}
/* END of elements */

/******************* START of Media *******************/
/*** XL ***/
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
/*** LG ***/
@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }

    h1 {
        font-size: 2rem;
        line-height: 2.2rem;
    }

    .col p {
        padding: 0 2rem;
    }
}

/*** MD ***/
@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .hidden-md {
        display: none;
    }

    .hidden {
        display: block !important;
    }

    .col p {
        padding: 0 1rem;
    }

    .col-4 {
        max-width: 50%;
    }

    .col-3 {
        width: 50%;
    }
}
/*** SM ***/
@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }

    .sm-text-center {
        text-align: center;
    }

    .col-6, .col-4 {
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .col-4 {
        padding: 0;
    }

    .col-3 {
        width: 100%;
        margin-bottom: 1rem;
    }

    .sm-first {
        order: -1;
    }

    .sm-half-size {
        max-width: 70%;
    }
}

