.plans .col {
    margin-bottom: 4rem;
}

.plans .col-3 {
    background-color: var(--light-color);
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

.plans .col-3:hover {
    background: var(--gradient);
    transform: scale(1.05);
    transition: all .4s ease 0s;
    cursor: pointer;
}

.plans h3 {
    background-color: rgba(132,144,255,.1);
    border: 2rem solid rgba(132,144,255,.1);
    border-radius: 50%;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 300;
    width: 140px;
    height: 140px;
    padding: 1.4rem;
    margin: 0 auto;
}

.plans h4 {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 600;
    margin: 1.5rem 0;
}

.plans .col-3 p:first-of-type {
    margin-bottom: 1rem;
    border: none;
}

.plans .col-3 p {
    margin: 0 auto;
    padding: 10px 0;
    border-top: 1px solid var(--light-secondary);
}

.plans .col-3 p:last-of-type {
    border-bottom: 1px solid var(--light-secondary);
    margin-bottom: 2rem;
}

.plans h6 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 600;
}

.plans a {
    background-color: var(--white-color);
    color: var(--dark-color);
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    padding: 1rem;
    display: none;
}

.plans .col-3:hover h3,
.plans .col-3:hover h4,
.plans .col-3:hover p {
    color: var(--white-color);
}

.plans .col-3:hover p,
.plans .col-3:hover p:last-of-type {
    border-color: var(--white-color);
}

.plans .col-3:hover h6 {
    display: none;
}

.plans .col-3:hover a {
    display: block;
}

.plans .col-3:hover h3 {
    border-color: rgba(255,255,255,.21);
    background-color: rgba(255,255,255,.1);
}

@media (max-width: 992px) {
    .plans .col-3 {
        width: 50%;
    }

    .plans {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 576px) {
    .plans .col-3 {
        width: 100%;
    }
}